#set($ids = [])
#foreach($friend in ${ctx.prev.result})
  #set($map = {})
  $util.qr($map.put("userId", $util.dynamodb.toString($friend.friendId)))
  $util.qr($ids.add($map))
#end

{
  "operation" : "BatchGetItem",
  "tables" : {
    "#USER_ATTRIBUTES_TABLE#": {
      "keys": $util.toJson($ids),
      "consistentRead": true
    }
  }
}
