#set($userAttributeMap = {})
#foreach($user in $ctx.prev.result)
  $util.qr($userAttributeMap.put($user.userId, $user))
#end

#set($friends = [])
#foreach($item in $ctx.stash.friends)
  $util.qr($friends.add({
    "userId": $item.userId,
    "status": $item.status,
    "friend": $userAttributeMap.get($item.friendId)
  }))
#end

{
  "friends": $util.toJson($friends),
#if($ctx.stash.nextToken)
  "nextToken": $util.toJson($ctx.stash.nextToken),
#end
}
