#if($ctx.args.limit && $ctx.args.limit > 100)
  $util.error("limit must be <= 100", "ValidationError")
#end

{
  "operation": "Query",
  "index": "#USER_ID_STATUS_INDEX#",
#if($ctx.args.limit)
  "limit": $util.toJson($ctx.args.limit),
#else
  "limit": 100,
#end
#if($ctx.args.nextToken)
  "nextToken": $util.toJson($ctx.args.nextToken),
#end
  "query": {
#if($ctx.args.status)
    "expression": "userId = :userId and #status = :status",
    "expressionNames": {
      "#status": "status",
    },
#else
    "expression": "userId = :userId",
#end
    "expressionValues": {
#if($ctx.args.status)
      ":status": $util.dynamodb.toDynamoDBJson($ctx.args.status),
#end
      ":userId": $util.dynamodb.toDynamoDBJson($ctx.stash.userId)
    }
  }
}

